body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.hero{
/* Sizing */
width: 100vw;
height: 100vh;

/* Flexbox stuff */
display: flex;
justify-content: center;
align-items: center;

/* Text styles */
text-align: center;
color: white;

/* Background styles */
background-image: url("../images/dan-aragon-382945-unsplash.jpg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
}
main {
  flex: 1 0 auto;
}

* {
  box-sizing: border-box;
}

/* general */
.btn{
  background-color:#C33C54;
}

/* header and footer*/
.nav-wrapper , .page-footer{
  background-color: #2C363F;
}
.brand-logo{
  margin-left: 7px;
}
#footer-text{
  margin: 0 auto;
  font-size: 14px;
}

/* Index Body */
.about-me-section{
 justify-content: space-around;
}
.auth-image{
  float: left;
  background-color: #C33C54;
  margin: 5px 10px 10px 5px;
  padding: 8px;
}

.about-me{
  color: #37718E;
}


/* portfolio page */
.portfolio-section{
  background-color: #254E70;
  /* Sizing */
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;


  height: 100vh;

}
.carousel{
 align-items: center;
 text-align: center;
  width: 60vw;
  margin-left: 20%;
  padding-top: 30vh;
  padding-bottom: 15vh;
}
/* Saving images for later changes
#pick-up-games{
  background-image: url("../images/basketball.jpg")
}
#friend-finder{
  background-image: url("../images/friend-finder.png")
}
#liri{
  background-image: url("../images/siri.jpg")
}
#bamazon{
  background-image: url("../images/storefront.jpg")
}
*/

/* contact page */
.contact-section{
/* Sizing */

height: 100vh;
}
#contact-header{
  color: #37718E;
}
#email-box{
  background-color: #183446;
  padding: 40px;
  
}
@media screen and (min-width:640px){
  #brand-logo-desktop{
    display: block;
  }
  #brand-logo-mobile{
    display: none;
  }
  
}
@media screen and (max-width:980px){
  

}

@media screen and (max-width:768px){
  
}
@media screen and (max-width:640px){
  #brand-logo-desktop{
    display: none;
  }
  #brand-logo-mobile{
    display: block;
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .brand-logo{
    text-align: center;
    margin-left: 0px;
  }
  .about-me{
    text-align: center;
  }
  .auth-image{
    display: block;
    margin: 0 auto;
    float: none;
  }
  #about-me-row{

    text-align: center;
  }
  #contact-header{
    text-align: center;
  }
  #contact-photo{
    height: 0px;
    width: 0px;
  }
  .portfolio-header{
    text-align: center;
  }
}