/*HTML*/
html{
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
      
}
body{
    margin-bottom: 60px;
    overflow-x: hidden;
    
}
.nav-link{
    color: #595959;
}
/*Jumbotron*/
.jumbotron{
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px pink;

    /* Background styles */
    background-image: url("../images/dan-aragon-382945-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    margin-bottom: 7rem;
}



/* About Me Section */

#about-hdr, p{
    text-align: center;
    align-items: center;
   
}

#about-hdr{
    margin-top: 2rem;
    margin-bottom: 4rem;
    
}
#about-row{
    justify-content: space-around;
}

.skills-row{
    align-items: center;
    justify-content: space-evenly;
}

.db-crd{
    padding-top: 20px;
}

.about-section{
    margin-bottom: 75px;
}

/*Portfolio Section*/
.portfolio-section{
    background-color: #f5f5f5;
    margin-bottom: 65px;
    padding-bottom: 40px;
}
.portfolio-rw{
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.portfolio-text{
    background-color: rgba(245, 245, 245, 1);
    padding: 10px;
    margin-left: 10px;
    min-height: 300px;
}
.card{
    margin: 15px;
    align-items: center;
}
.card-img-top {
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.card-body{
    align-items: center;
}

.portfolio-image{
    height: 300px; 
    width: 500px;
}


/* Contact Section*/
.contact-section{
    height: 100%;
    margin-bottom: 10rem;
}

#contact-hdr{
    text-align: center;
    margin-bottom: 45px;

}

.contact-buttons{
    justify-content: space-between;
    text-align: center;
}

.circle {
    width: 90px;
    height: 90px;
    line-height: 115px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto 40px;
    
  }
.circle:hover {
    box-shadow: 0px 15px 20px rgba(67, 68, 68, 0.4);
    transform: translateY(-5px);
  }

.footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    
}

/* MEDIA QUERY*/

@media screen and (min-width:641px){
    #desktop-portfolio{
        display: block;
    }
    #mobile-portfolio{
        display: none;
    }
 }

@media screen and (max-width:640px){
    #desktop-portfolio{
        display: none;
    }
    #mobile-portfolio{
        display: block;
    }
    .navbar{
        display: none;
    }
}